body {
    background: url(../img/20.gif) repeat fixed;
    font-size: 11px;
}

#header {
    position: absolute;
    top: -50;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/WebTune-O-Matic.png) no-repeat center -40px;
    height: 159px;
    width: 770px;
}

#tabs {
    position: absolute;
    width: 700px;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.singleMap label {
    float: left;
    clear: both;
    width: 350px;
}

#tabs select {
    width: 150px;
    border: 1px solid black;
    margin-left: 50px;
}

option {
}

.singleMap {
    margin: 10px;
}

.tabContent {
    height: 600px;
    overflow: auto;
    margin-bottom: 50px;
}

#patchCreatorContent {
    height: 80%;
    overflow: auto;
    margin-bottom: 15px;
}
fieldset {
    border: 1px solid #333333;
    margin: 5px;
}

input[type="file"] {
    color: white;
    background-color: black;
    border: none;
}

#disclaimerDialog{
    text-align: justify;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.labelInfo {
    font-style: italic;
    font-size: 10px;
}

legend {
    color: #aaaaaa;
}
#downloadLabel {
    font-size: 18px;
}
#downloadSub {
    font-size: 10px;
}
#downloadButton {
    text-align: left;
}

#patchCreateFooter {
    position: absolute;
    padding-bottom: 10px;
    padding-left: 20px;
    z-index: 100;
    bottom: 0;
    left: 0;
}
